name: aws-cli

on:
  schedule:
    - cron: "00 01 * * 1"
  pull_request:
    paths:
      - .github/workflows/aws-cli.yaml
      - 'images/aws-cli/*.yaml'
      - 'images/aws-cli/**/*.yaml'
  push:
    branches:
      - 'main'
    paths:
      - .github/workflows/aws-cli.yaml
      - 'images/aws-cli/*.yaml'
      - 'images/aws-cli/**/*.yaml'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  security-events: write
  actions: read

jobs:
  publish:
    strategy:
      matrix:
        version: [latest, "2.32", "2.32.17", "2.31", "2.31.7"]
        variant: [prod]
    name: ${{ matrix.version }}${{ matrix.variant == 'shell' && '-shell' || '' }}
    uses: './.github/workflows/release.yaml'
    with:
      tag: ${{ matrix.version }}${{ matrix.variant == 'shell' && '-shell' || '' }}
      target: ${{ matrix.variant }}
      packages: >-
        ${{ matrix.version != 'latest' && format('aws-cli~{0}', matrix.version) || '' }}
    secrets: inherit
